nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color:white;
}
body {
    background-image:radial-gradient(circle,#929d9e,#535858);

}
a{
    color:white;
}
.container{
    padding: 30px;
}
.carousel-inner{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.carousel-inner img {
    image-resolution: 900dpi;
}
